{% extends "AddressBookBundle::base.html.twig" %}

{% block title %}Contact List{% endblock %}

{% block body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {{ message|raw }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ include('@AddressBook/Contact/list.html.twig', { 'contacts': contacts }) }}
    </div>
{% endblock %}