{% extends "::base.html.twig" %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                <h1>Register</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form(form, {'attr': {'class': 'form-horizonta', 'id': 'registration-form', 'role': 'form'} }) }}
            </div>
        </div>
    </div>
{% endblock %}
