{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block header_javascripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}

<div class="container main-container">
    <div class="jumbotron">
        <h1>Address Book</h1>
        <p>This project is about developing an address book in which you can add, edit and delete entries. The project should also have an overview of all contacts.</p>
        <p><a href="https://github.com/tudor-rusu/sym34-address-book" class="btn btn-primary btn-lg" role="button">Github Repository »</a></p>
    </div>
</div>
{% endblock %}